doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
    title= title
    link(rel='stylesheet', href='/material-design-lite/material.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    script(type='text/javascript', src='/material-design-lite/material.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.components
    block content
    script(type='text/javascript', src='/static/bundle.js')
